src/main/xsd/XML_daily.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValCurs" type="ValCursType"/>
  <xs:complexType name="ValuteType">
    <xs:sequence>
      <xs:element type="xs:string" name="NumCode"/>
      <xs:element type="xs:string" name="CharCode"/>
      <xs:element name="Nominal">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="100"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="10000"/>
            <xs:enumeration value="1000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Value"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="ID" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ValCursType">
    <xs:sequence>
      <xs:element type="ValuteType" name="Valute" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Date"/>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
</xs:schema>